img {
    max-width: 50%;
    height: auto;
  }

.weather-title {
    background-image: linear-gradient(to bottom right, blue, #00008B);
}

.card-color {
    background-color: #2d3e50;
}

.card-text {
    font-size: 15px;
}

